<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Invocation to the Muse of Writing </h2>
                    <h3 class="section-subheading text-muted">Contact us for all your writing needs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">When You Buy Our Product</h4>
                    <p class="text-muted">With over five years of experience, we work hard to deliver excellent quality papers tailored to your needs. We research, brainstorm, write, and edit your papers so that you  can enjoy your time and not have to worry about deadlines because it’s all taken care of for you.</p>
                </div>
                <div class="col-md-4">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">We Deliver Promptly</h4>
                    <p class="text-muted">We will contact you within 24 hours of your submission and begin work as soon as possible. Once the assignment is finished, we will send you a sample page of the product for your approval. Only after your approval will we ask for payment for the product. After payment is finalized, we will send the completed assignment promptly. Our goal is to have your assignment finished, edited, and approved three days before the assignment is due. </p>
                    </div>
                <div class="col-md-4">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Money Back Guarantee</h4>
                    <p class="text-muted">To us, it is a matter of honor that you receive the grade that you desire. Our prices not only gauruntee a finished product, but 50% of the price is also a gauruntee of a well-received final grade for the assignment. If you receive a grade less than what you had paid for, we will refund 50% of the price and request for teacher comments in order to learn from any mistakes a writer might have made. Also, we will offer a 20% discount to the next paper ordered.</p>
                </div>
       
                </div>
            </div>
        </div>
    </section>